<%- if controller_name != 'sessions' %>
  <%= link_to "Entrar", new_session_path(resource_name), :class => 'btn light-blue lighten-1' %><br /><br></br>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Inscrever", new_registration_path(resource_name), :class => 'btn yellow darken-1' %><br /><br></br>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Esqueceu sua senha?", new_password_path(resource_name), :class => 'btn blue-grey lighten-3' %><br /><br></br>	
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Não recebeu as intruções de confirmação?", new_confirmation_path(resource_name), :class => 'btn light-blue lighten-1' %><br /><br></br>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Não recebeu as instruções de desbloqueio?", new_unlock_path(resource_name), :class => 'btn light-blue lighten-1' %><br /><br></br>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), :class => 'btn light-blue lighten-1' %><br /><br></br>
  <% end -%>
<% end -%>
