<div class="container">
  <div class="card-panel">
    <div class="center-align">
      <h2>Mudar sua senha</h2>
    </div>
  </div>
</div>

<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-inputs">
      <%= f.input :password, label: "Nova senha", required: true, autofocus: true, hint: ("#{@minimum_password_length} caracteres no mínimo" if @minimum_password_length) %>
      <%= f.input :password_confirmation, label: "Confirme sua nova senha", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Mudar minha senha", {:class => 'btn light-green accent-4'} %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>