<div class="container">
  <div class="card-panel">
    <div class="center-align">
      <h2>Reenviar instruções de desbloqueio</h2>
    </div>
  </div>
</div>

<div class="container">
	<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
	  <%= f.error_notification %>
	  <%= f.full_error :unlock_token %>

	  <div class="form-inputs">
	    <%= f.input :email, required: true, autofocus: true %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Reenviar instruções de desbloqueio" %>
	    <%= render "devise/shared/links" %>
	  </div>
	<% end %>	
</div>