<div class="container">
  <div class="card-panel">
    <div class="center-align">
      <h2>Entrar</h2>
    </div>
  </div>
</div>

<div class="container">
    <div class="center-align">
    	<div class="row">
    		<h6 class="col s6">Antes de entrar dê uma lida sobre o fórum na página "Sobre"</h6>
    		<h6 class="col s6">Alguma dúvida? Entre em contato conosco na página "Contato"</h6>
    	</div>
    </div>
</div>

<div class="container">
	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="form-inputs">
	    <%= f.input :email, required: false, autofocus: true %>
	    <%= f.input :password, required: false %>
	    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Entrar", {:class => 'btn light-blue lighten-1'} %>
	    <%= render "devise/shared/links" %>
	  </div>
	<% end %>
</div>