%h2.container
	.card-panel.valign
		Hey Listen...
		%img{:alt => "", :height => "50", :src => "https://upload.wikimedia.org/wikipedia/en/0/04/Navi_(The_Legend_of_Zelda).png", :width => "50"}/

%p.container
	Nós do
	%strong MJ-Share
	somos uma comunidade, o intuito do nosso fórum é compartilhar a internet entre amigos, tudo que você procura certamente temos aqui!
%h1.container 
	.card-panel.valign
		Regras do Fórum
%p.container 1 - Seja cordial com todos os usuários do Fórum.
%p.container 2 - São proibidos arquivos com referência/conteúdo pornográfico, racista, hacker, que contenha vírus ou outros semelhantes, (seja por motivos de religião, sexo, raça, convicção politica, esportiva ou outro tipo assim considerado, que possa causar conflito), incluindo comentários.
%p.container 3 - Não são permitidos arquivos demo, jogos online com acesso por cadastro, versão alphas e betas de jogos e software, keygens, crackers e traduções lançados separadamente dos seus respectivos programas. Aplicativos/softwares sem desenvolvedor oficial serão excluídos.
%p.container 4 - A qualquer momento o seu post pode ser deletado ou editado caso um moderador/admin julgar necessário.
%p.container 5 - Proibido publicidade comercial, fazer spam, spoiler e linguagens impróprias.
%p.container 6 - O não cumprimento das regras supracitadas podem levar a expulsão do membro.
%p.container O conhecimento dessas regras e sua leitura são da responsabilidade de cada membro. Registrando-se nesse fórum, você declara compreender e aceitar as regras que regem este presente fórum, e estas regras tem o único propósito de garantir o bem-estar e a convivência pacífica entre os membros do fórum.