%h2.container
	.card-panel.valign
		Contatos

%p.container
	Para mais informações, ou dúvidas, entre em contato com os desenvolvedores pelos emails:
.row
	%h4.container.col.s4.offset-s2
		.card-panel.valing
			%strong Mariana Mendes:
			%br/
			mare.s.mendes@gmail.com

	%h4.container.col.s4
		.card-panel.valign
			%strong João Pedro Sconetto:
			%br/
			sconetto.joao@gmail.com