%h1.container
	.card-panel.valign
		.center-align
			Editar Post

.container
	= simple_form_for @post do |f|
		= f.input :title
		= f.input :content
		= f.submit "Editar Post", :class => 'btn light-green accent-4'
		= link_to "Cancelar", :back, :class => 'btn red'