.container
	- @posts.each do |post|
		.card-panel.valign.z-depth-1
			%h2.title= link_to post.title, post
			%p.date
				Publicado
				= time_ago_in_words(post.created_at)
				atrás por 
				= post.user.username
				| email:
				= post.user.email