.container
	%h2.grey-text.text-darken-2
		%strong
			= @post.title
	%h5= @post.content
	
	%hr/

	%h5
		.right-align
			= @post.comments.count
			Comentário(s)
	
	= render @post.comments

	%hr/

	%h4 Responder
	= render "comments/form"
	
	%br/
	%hr/
	%br/
	= link_to "Início", root_path, :class => 'btn light-blue lighten-1'		
	- if current_user == Post.find(@post).user
		= link_to "Editar", edit_post_path(@post), :class => 'btn amber accent-3'
		= link_to "Apagar Post", post_path(@post), method: :delete, data: {confirm: "Deseja realmente apagar este post?"}, :class => 'btn red'