<div class="container">
  <div class="card-panel">
    <div class="center-align">
      <h2>Editar Usuário</h2>
    </div>
  </div>
</div>

<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", hint: "Deixe em branco caso não deseje mudar", required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: "Precisamos da sua senha atual para confirmar as mudanças", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Atualizar", {:class => 'btn light-green accent-4'} %>
    </div>
  <% end %>
  <br/>
  <div class="card-panel">
    <div class="center-align">
      <h2>Cancelar minha conta</h2>
    </div>
  </div>


  <h3>Infeliz?</h3>
  <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete, :class => 'btn red' %>
  <%= link_to "Voltar", :back, :class => 'btn light-blue lighten-1' %>
</div>