<div class="container">
  <div class="card-panel">
    <div class="center-align">
      <h2>Inscrever-se</h2>
    </div>
  </div>
</div>

<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :username, required: true%>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} caracteres no mínimo" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Inscrever", {:class => 'btn yellow darken-1'} %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
