!!!
%html
%head
	%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0", :name => "viewport"}
	%title MJ-Share
	= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
	%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"}
	%link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
	%link{:href => "css/materialize.css", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}/
	%link{:href => "css/style.css", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}/
	= javascript_include_tag 'application', 'data-turbolinks-track' => true 
	= csrf_meta_tags
%body
	%nav.light-blue.lighten-1{:role => "navigation"}
		.nav-wrapper.container
			.row.clearfix
				%a#logo-container.brand-logo{:href => root_path } MJ-Share Fórum
				- if user_signed_in?
					.col.offset-s7
						%strong Bem vindo(a)
						%strong 
							=current_user.username
						%strong !

					=link_to "Usuário", edit_user_registration_path, class: 'col'
					=link_to "Novo Post", new_post_path, class: 'col'
					=link_to "Contato", contact_path, class: 'col'
					=link_to "Sobre", about_path, class: 'col'
					=link_to "Sair", destroy_user_session_path, :method => :delete, data: {confirm: "Deseja realmente sair?"}, class: 'col'
				- else
					.col.offset-s7
						%strong Bem vindo(a) visitante!
					=link_to "Entrar", new_user_session_path, class: 'col'
					=link_to "Inscreva-se", new_user_registration_path, class: 'col'
					=link_to "Contato", contact_path, class: 'col'
					=link_to "Sobre", about_path, class: 'col'

	.wrapper
		%p.notice= notice
		%p.alert= alert

	.wrapper
		= yield