.card-panel.z-depth-2
	%h5= comment.comment
	%p
		Publicado por 
		= comment.user.username
		| email: 
		= comment.user.email

	- if current_user == Comment.find(comment.id).user
		= link_to "Editar", edit_post_comment_path(comment.post, comment), :class => 'btn amber accent-3'
		= link_to "Excluir", [comment.post, comment], method: :delete, data: { confirm: "Deseja realmente apagar esse comentário?" }, :class => 'btn red'
