%h1.container
	.card-panel.valign
		.center-align
			Editar Comentário
.container
	= simple_form_for([@post, @comment]) do |f|
		= f.input :comment
		= f.submit "Atualizar", :class => 'btn light-green accent-4'
		= link_to "Cancelar", :back, :class => 'btn red'